---
title: "404"
permalink: "/404.html"
---
{% include header.html %}
{% include navbar.html %}
<div class="jumbotron jumbotron-xl jumbotron-fluid overlay overlay-blue" style="background-size:cover; background-image:url(assets/img/demo/1.jpg);">
    <div class="container text-center text-white h-100">
        <h3 class="display-2"><strong>{{page.title}}</strong></h3>
        <h5 class="font-weight-light">{{content}}</h5>
    </div>
    <p class="bottom-align-text-absolute">
        <span class="d-block text-center text-white">Made with <i class="fas fa-heart text-danger"></i> by WOW Themes and stdurb</span>
    </p>
</div>