@import url("https://www.w3schools.com/w3css/4/w3.css");
@import url("https://fonts.googleapis.com/css?family=Raleway");

body,
html {
  height: 100%;
  background: rgb(3,0,42);
  background: linear-gradient(90deg, rgba(3,0,42,1) 0%, rgba(4,4,115,1) 50%, rgba(2,72,87,1) 100%);
  
  min-height: 100%;
  background-position: center;
  background-size: cover;
  
  font-color: #fff;
}

body,
h1 {
  font-family: "Raleway", sans-serif;
}
