<!--------------------------------------
FAQ
--------------------------------------->
<div class="container pt-5 pb-5" data-aos="fade-up">
	<div class="text-center pt-3 pb-4">
		<h2>Frequently Asked Questions</h2>
		<p class="text-muted">
			 Transparent answers, licensing and lore ipsum super funny.
		</p>
	</div>
	<div class="row gap-y justify-content-center">
		<div class="col-md-5">
			<h5>What is Anchor Bootstrap UI Kit?</h5>
			<p class="text-muted">
				 Anchor Bootstrap UI Kit is a set of polished components that you can use for building your own template. This page is built with it.
			</p>
		</div>
		<div class="col-md-5">
			<h5>Is it updated to Bootstrap?</h5>
			<p class="text-muted">
				 Yes, Anchor Bootstrap UI Kit is built with the latest Bootstrap version and will be updated whenever a new version is released.
			</p>
		</div>
		<div class="col-md-5">
			<h5>Can I use it for commercial projects?</h5>
			<p class="text-muted">
				 Absolutely! Use Anchor Bootstrap UI Kit for any personal and commercial projects.
			</p>
		</div>
		<div class="col-md-5">
			<h5>Is there a way to thank you?</h5>
			<p class="text-muted">
				 That is very nice of you. Sure, I would gladly accept a cup of coffee <a href="https://www.wowthemes.net/donate/">here</a>.
			</p>
		</div>
	</div>
</div>
<!-- End FAQ -->