<!--------------------------------------
FOOTER
--------------------------------------->
<footer class="bg-black pb-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md mr-4">
                <span class="navbar-brand mr-2 mb-0 text-white"><strong>{{site.name}}</strong></span>
                <small class="d-block mt-3 mb-4 text-muted">©
                <script>document.write(new Date().getFullYear())</script>
                 {{site.title}}, made by <a target="_blank" href="https://www.wowthemes.net">Sal</a>, 
                 and <a target="_blank" href="https://www.studiourbanna.com.br">stdurb</a>
                 License: MIT
                 </small>
            </div>
            <div class="col-6 col-md">
                <h5 class="mb-4 text-white">Principais</h5>
                
                <ul class="list-unstyled text-small">
                    {% for post in site.tags.featured %}                
                        <li class="mb-4">
                            <span>
                                <h6 class="font-weight-bold">
                                    <a href="{{site.baseurl}}{{ post.url }}" class="text-white">{{ post.title }}</a>
                                </h6>
                                <span class="d-block text-muted">
                                    Em <span class="catlist">
                                    {% for category in post.categories %}
                                    <a class="text-capitalize text-muted smoothscroll" href="{{site.baseurl}}/categories.html#{{ category | downcase }}">{{ category }}</a><span class="sep">, </span>
                                    {% endfor %}
                                </span>
                            </span>
                        </span>
                        </li>                
                    {% endfor %}
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5 class="mb-4 text-white">A Studio</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Sobre</a></li>
                    <li><a class="text-muted" href="#">Contato</a></li>
                    <li><a class="text-muted" href="#">Privacidade</a></li>
                    <li><a class="text-muted" href="#">Créditos</a></li>
                </ul>
            </div>
        </div>
    </div>
    </footer>