<!--------------------------------------
NAVBAR
--------------------------------------->
{% if page.url == "/404.html" %}
<nav class="topnav navbar navbar-expand-lg navbar-dark fixed-top">
{% elsif page contains background %}
<nav class="topnav navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
{% else %}
<nav class="topnav navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
{% endif %}
    <div class="container-fluid">
        {% unless page.url == "/docs.html" %}
            <a class="navbar-brand" href="{{site.baseurl}}/index.html">
                <i class="fas fa-anchor mr-2"></i> <strong>{{site.nick}}</strong>
            </a>
        {% endunless %}
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarColor02" style="">
            <ul class="navbar-nav mr-auto d-flex align-items-center">
                {% if page.url == "/docs.html" %}
                <li class="nav-item">
                <a class="nav-link" href="{{site.baseurl}}/index.html">Home <span class="sr-only">(current)</span></a>
                </li>
                {% endif %}
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Falamos de </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{site.baseurl}}/tags.html#all-posts">Tudo</a>
                    <a class="dropdown-item" href="{{site.baseurl}}/tags.html#git">Git</a>
                    <a class="dropdown-item" href="{{site.baseurl}}/tags.html#android">Android</a>
                    <a class="dropdown-item" href="{{site.baseurl}}/tags.html#web">Web</a>
                </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{site.baseurl}}/about.html">Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{site.baseurl}}/contact.html">Contato</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{{site.baseurl}}/docs.html">Docs</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto d-flex align-items-center">
                {% include search-lunr.html %}
            </ul>
        </div>
    </div>
    </nav>
    <!-- End Navbar -->