<!------------------------------------------
NEWSLETTER
------------------------------------------->
<div class="container pt-4 pb-5 mb-5" data-aos="fade-down">
	<div class="pb-4 text-center">
		<h2><span class="text-secondary font-weight-bold">Subscribe</span> to our <strong>newsletter</strong></h2>
		<p class="text-muted">
			 A lot of features to develop your own lore ipsum. No credit card required.
		</p>
	</div>
	<form class="row justify-content-center">
		<div class="col-md-3">
			<input type="text" class="form-control input-round w-100 form-control-lg" placeholder="First name*">
		</div>
		<div class="col-md-3">
			<input type="text" class="form-control input-round w-100 form-control-lg" placeholder="E-mail address*">
		</div>
		<div class="col-md-3">
			<button type="submit" class="btn btn-info btn-round btn-lg w-100">Subscribe</button>
		</div>
	</form>
</div>
<!-- End Newsletter -->