<!--------------------------------------
PRICING
--------------------------------------->
<div class="container pt-5 pb-4" data-aos="fade-up">
	<div class="pb-5 pt-3 text-center">
		<h2>Predictive and <strong>imperative approach</strong> towards application.</h2>
		<p class="text-muted">
			 It’s a social collaboration trello software platform that employees really love to use, with rich personalized interface
		</p>
	</div>
	<div class="card-deck card-pricing text-center">
		<div class="card border-0 shadow-sm">
			<div class="card-header bg-indigo border-0 pt-4 pb-4 text-white">
				<h2 class="my-0 font-weight-normal mb-3">Personal</h2>
				<h4 class="card-title pricing-card-title">$11 <small class="text-white">/ mo</small></h4>
			</div>
			<div class="card-body">
				<ul class="list-unstyled mt-3 mb-4">
					<li>10 users included</li>
					<li>2 GB of storage</li>
					<li>Email support</li>
					<li>Help center access</li>
				</ul>
				<button type="button" class="btn btn-indigo btn-round">Start Free</button>
			</div>
		</div>
		<div class="card border-0 shadow-sm">
			<div class="card-header bg-info border-0 pt-4 pb-4">
				<h2 class="my-0 font-weight-normal mb-3">Premium</h2>
				<h4 class="card-title pricing-card-title">$15 <small>/ mo</small></h4>
			</div>
			<div class="card-body">
				<ul class="list-unstyled mt-3 mb-4">
					<li>20 users included</li>
					<li>10 GB of storage</li>
					<li>Priority email support</li>
					<li>Help center access</li>
				</ul>
				<button type="button" class="btn btn-info btn-round"><i class="fab fa-telegram mr-2"></i> Start Free</button>
			</div>
		</div>
		<div class="card border-0 shadow-sm">
			<div class="card-header border-0 pt-4 pb-4 bg-indigo text-white">
				<h2 class="my-0 font-weight-normal mb-3">Enterprise</h2>
				<h4 class="card-title pricing-card-title">$29 <small class="textwhite">/ mo</small></h4>
			</div>
			<div class="card-body">
				<ul class="list-unstyled mt-3 mb-4">
					<li>30 users included</li>
					<li>15 GB of storage</li>
					<li>Phone and email support</li>
					<li>Help center access</li>
				</ul>
				<button type="button" class="btn btn-indigo btn-round">Contact us</button>
			</div>
		</div>
	</div>
</div>
<!-- End Pricing -->