<h4 class="font-weight-bold spanborder"><span>Publicidade</span></h4>  
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3515022638041475"
          crossorigin="anonymous"></script>
<!-- Display Studio AD -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-3515022638041475"
     data-ad-slot="2565063984"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>