body, .site-content {
    background: #111111;
    color: #e2e2e2;
}

.bg-white {
    background-color: #000 !important;
}

.navbar-light .navbar-brand {
    color: rgba(255, 255, 255, 0.9);
}

.navbar-light .navbar-brand a:hover{
    color: #ffbf00;  
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.8);
    font-size: .93rem;
}

.navbar-light .navbar-nav .nav-link a:hover{
    color: #ffbf00; 
}

.text-danger {
    color: #eae72f !important;
}

.text-dark {
    color: #fff !important;
}

.text-dark a:hover{
    color: #ffbf00; 
}

.text-muted {
    color: #ffbf00 !important;
}

.text-muted a:hover {
    color: #ffbf00;
}

.spanborder {
    border-bottom: 1px solid #e0ff09;
    margin-bottom: 2rem;
}